[database]
; For Docker: use /mbase/data/manga.db
sqlitelocation = <folderpath/stuff.db>

[manga]
; For Docker: use /mbase/source, /mbase/archive, /mbase/quarantine
sourcefolder = <folderpath to Tachiyomi manga folder>
archivefolder = <folderpath to place resulting manga archives>
quarantinefolder = <folderpath to place manga archives that are incomplete>
symlinkfolder = <optional. leave empty after the = if you don't need this>

[tracker]
anilisttoken = Bearer <token>
anilistuserid = <your anilist userid>
anilistclientid = <your anilist oauth client id>

[push]
pushoveruserkey = <stuff>
pushoverappkey = <stuff>

[system]
loglevel = DEBUG
; lxml or ElementTree. Preferred lxml
xmlParser = lxml
allowed_origins = http://localhost:8080,http://localhost:5173,http://localhost:3000
